@tailwind base;
@tailwind components;
@tailwind utilities;

@reference 'tailwindcss';


/* Transition Classes */
.fade-enter-active,
.fade-leave-active {
    @apply transition ease-out;
}

.fade-enter-from,
.fade-leave-to {
    @apply opacity-0;
}

.scale-enter-active,
.scale-leave-active {
    @apply transition ease-in-out;
}

.scale-enter-from,
.scale-leave-to {
    @apply scale-90 opacity-0;
}
